.saveContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;

    justify-content: space-between;
    background-color: #FFF3E6;
}

.header {
    background-color: #FFF3E6;
    margin: 20px 0 10px 0;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    position: relative;
}

.title {
    margin: 20px;
    font-size: 24px;
    font-family: 'Pretendard JP', sans-serif;
    font-weight: 600;
}

.profileButton {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 33px;
    height: 33px;
    background: url('../../icon/profile.svg') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.content {
    flex: 1;
    margin: 0 10px 90px 10px;
    overflow-y: auto;
}

.listItem {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.arrowButton {
    background: url('../../icon/next.svg') no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}
