.introPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.logo {
    width: 100px;
    height: 40px;
    background: url('../../images/logo2.svg') no-repeat center center;
    background-size: contain;
}

.backIcon {
    width: 11px;
    height: 19px;
    background: url('../../icon/<.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.closeIcon {
    width: 19px;
    height: 19px;
    background: url('../../icon/x.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.progressBar {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px 0;
}

.progress4 {
    width: 33.32%;
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.progress5 {
    width: 41.65%; /* 5/12 */
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.progress6 {
    width: 49.98%; /* 5/12 */
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.progress7 {
    width: 58.31%; /* 5/12 */
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.progress8 {
    width: 66.64%; /* 5/12 */
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.progress9 {
    width: 74.97%; /* 5/12 */
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.progress10 {
    width: 83.30%; /* 5/12 */
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.progress11 {
    width: 91.63%; /* 5/12 */
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.introTitle {
    height: 56px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Pretendard JP', sans-serif;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.optionBtn {
    width: 194px;
    height: 48px;
    border: none;
    border-radius: 50px;
    background-color: #F5F5F5;
    color: #111111;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    /*transition-duration: 0.3s;*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.optionBtn.active {
    background-color: #FDEFE6;
    color: #111111;
    border: 1px solid #F3AF81;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btnInactive {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 15px;
    background-color: #FDEFE6;
    color: #111111;
    font-size: 16px;
    cursor: not-allowed;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btnActive {
    width: 100%;
    height: 56px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #F3AF81;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
