.introPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.logo {
    width: 100px;
    height: 40px;
    background: url('../../images/logo2.svg') no-repeat center center;
    background-size: contain;
}

.backIcon {
    width: 11px;
    height: 19px;
    background: url('../../icon/<.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.closeIcon {
    width: 19px;
    height: 19px;
    background: url('../../icon/x.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.progressBar {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px 0;
}

.progress11 {
    width: 91.63%; /* 11/12 */
    height: 8px;
    background-color: #F3AF81;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.introTitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Pretendard JP', sans-serif;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.surveyTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Pretendard JP', sans-serif;
}

.surveyTable th, .surveyTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.surveyTable th {
    font-size: 20px;
    background-color: #f2f2f2;
}

.optionBtn {
    width: 194px;
    height: 48px;
    border: none;
    border-radius: 50px;
    background-color: #F5F5F5;
    color: #111111;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.optionBtn.active {
    background-color: #FDEFE6;
    color: #111111;
    border: 1px solid #F3AF81;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btnInactive {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 15px;
    background-color: #FDEFE6;
    color: #111111;
    font-size: 16px;
    cursor: not-allowed;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btnActive {
    width: 100%;
    height: 56px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #F3AF81;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Media Queries for Mobile Screens */
@media (max-width: 768px) {
    .introTitle {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .surveyTable th, .surveyTable td {
        padding: 6px;
    }

    .surveyTable th {
        font-size: 15px;
        background-color: #f2f2f2;
    }

    .surveyTable td {
        font-size: 13px;
    }

    .optionBtn {
        width: 150px;
        height: 40px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .btnInactive, .btnActive {
        height: 48px;
        font-size: 14px;
    }
}
