.onboardingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Pretendard JP', sans-serif;
    position: relative;
    overflow: hidden;
}

.backgroundImage1 {
    position: absolute;
    background-size: contain; /* 이미지를 전체 보이도록 조정 */
    background-repeat: no-repeat;
    bottom: 50%; /* 절반 정도 차지 */
    background-position: center;
    height: 303px; /* 이미지 크기를 줄임 */
    width: 210px; /* 이미지 크기를 줄임 */
    margin-top: 30px;
}

.backgroundImage2 {
    position: absolute;
    background-size: contain; /* 이미지를 전체 보이도록 조정 */
    background-repeat: no-repeat;
    bottom: 20%; /* 절반 정도 차지 */
    background-position: center;
    height: 618px; /* 이미지 크기를 줄임 */
    width: 341px; /* 이미지 크기를 줄임 */
    margin-top: 30px;
}

.backgroundImage3 {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 20%;
    background-position: center;
    height: 618px;
    width: 341px;
    margin-top: 30px;
}

.backgroundImage4 {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 50%;
    background-position: center;
    height: 243px;
    width: 315px;
    margin-top: 30px;
}


.textContainer {
    width: 100%;
    height: 380px;
    background: rgba(255, 255, 255);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
p {
    margin: 0;
}

.intro1 {
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
    line-height: 140%;

}
.intro2 {
    font-size: 20px;
    color: #F3AF81;
    line-height: 140%;
    margin-bottom: 20px;
}



.title1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 140%;

}
.title2 {
    font-size: 26px;
    font-weight: bold;
    color: #F3AF81;
    margin-bottom: 20px;
    line-height: 140%;
}

.subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #777;
}

.button {
    width: 80%;
    padding: 15px;
    background-color: #F3AF81;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 40px auto 20px auto;
}

.pagination {
    display: flex;
    justify-content: center;

    margin: auto 20px 0 20px;
}

.paginationDot {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
}

.paginationDot.active {
    background-color: #F3AF81;
}
