.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    background-color: #ffffff;
    position: fixed; /* 변경: fixed로 설정 */
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #111111;
}

a {
    text-decoration: none;
}

.label {
    margin-top: 40px;
    font-size: 11px;
    white-space:nowrap;
}

.homeIcon {
    width: 33px;
    height: 33px;
    background-image: url('../../icon/nav/home.svg'); /* 절대 경로로 설정 */
    background-size: contain;
    background-repeat: no-repeat;
}

.bloomIcon {
    width: 30px;
    height: 30px;
    background-image: url('../../icon/nav/flower.svg'); /* 절대 경로로 설정 */
    background-size: contain;
    background-repeat: no-repeat;
}

.saveIcon {
    width: 36px;
    height: 36px;
    background-image: url('../../icon/nav/save.svg'); /* 절대 경로로 설정 */
    background-size: contain;
    background-repeat: no-repeat;
}

.activeIcon {
    filter: brightness(0) saturate(100%) invert(62%) sepia(48%) saturate(495%) hue-rotate(334deg) brightness(92%) contrast(89%);
}
