.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 820px;
}

.loginContent {
    text-align: left;
}

.logo {
    width: 64px;
    height: 64px;
    background: url('../../images/logo.svg') no-repeat center center;
    background-size: contain;
    margin: 100px 0 0 210px;
}

.loginh1 {
    font-size: 45px;
    margin: -15px 0 10px 10px;
    font-weight: 800; /* 볼드 적용 */
    color: #F3AF81;
}

.loginp {
    font-size: 20px;
    margin: 0 0 0 10px;
    font-family: 'Noto Sans Oriya', sans-serif;
}

.loginButton {
    width: 345px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeb3b; /* 카카오 버튼 색상 */
    border: none;
    border-radius: 50px;
    margin-top: 180px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #47292B;

}

.kakaoIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('../../icon/kakao-icon.svg') no-repeat center center;
    background-size: contain;
}
